.skeleton-container {
  padding: 1rem;
}
.skeleton-loader {
  background: linear-gradient(90deg, #cccccc 15%, #c2c2c2 50%, #cdcdcd 85%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
