.py-min {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}
.px-min {
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}
.cursor-pointer {
  cursor: pointer !important;
  * {
    cursor: pointer !important;
  }
}
img.loading {
  width: 100%;
  height: auto;
  background-color: #e0e0e0;
  aspect-ratio: 1/1;
  color: transparent;
  animation: pulse 1.5s infinite;
}
.scale-hover {
  &:hover {
    transform-origin: 0;
    transform: scale(1.05);
  }
}
.no-user-text-selectable {
  -webkit-user-select: none; /* Safari y Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Soporte estándar */
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.table-responsive {
  overflow-y: visible !important;
}

@media (min-width: 1200px) {
  .overflow-unset {
    overflow-x: unset;
  }
}

.btn-primary-hover {
  &:hover {
    color: $primary !important;
  }
}
